Aptos Passport KYCTests/.testPic/*
Aptos Passport KYC/Assets.xcassets/lucian.imageset/lucian.jpg
Aptos Passport KYC/Assets.xcassets/myface.imageset/myface.jpg
Aptos Passport KYC.xcodeproj/*
.summary/*
.vscode/settings.json
